.h1 {
    font-weight: 600;
    font-size: 6vw;
    margin-bottom: 20px;
    text-align: center;
  }

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
}

.content {
  flex: 1;
  padding: 2rem;
}

.spacer {
  height: 1rem;
}